.card{
    background-color:#fff;
    color: #000;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:20px;
    margin:20px;
    width:300px;
    text-align:left;
    position:relative;
}

.card1{
    background-color: #d1ff00;
    height:50px;
    width:50px;
    border-radius:50%;
    margin-bottom:15px;
}

.delete{
    background-color:#fb4040;
    color: #fff;
    border:none;
    padding:10px;
    width: 100%;
    border-radius:5px;
    cursor:pointer;
    font-size:1em;
}

.delete:hover {
    background-color: #e60000;
}
